<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/employeeProfile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- bootstrap 5 css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
        integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Employee Profile</title>


    <style type="text/css">

        .input-group-append {
          cursor: pointer;
        }
        
                .date{
                    width: 350px;
                    /* margin-right: ; */
                    margin : 50px 70px 0px 400px;
                    align-items:center;
                    text-align: center;
                    display: inline-block;
                    font-size: 20px;
                    border-radius: 20px;
                    border-width: 200px;
                    
                }
                .chartBox{
                    width: 700px;
                    margin : 30px 70px 50px 200px;
                    align-items:center;
                    text-align: center;
                    display: inline-block;
                }
                .chartBox3{
                    width: 500px;
                    margin : 30px 70px 50px 200px;
                    align-items:center;
                    text-align: center;
                    display: inline-block;
                }
        
                .chartBox1{
                    width: 350px;
                    /* margin-right: ; */
                    margin : 40px 70px 30px 150px;
                    align-items:center;
                    text-align: center;
                    display: inline-block;
                }
                .chartBox2{
                    width: 350px;
                    margin : 40px 70px 30px 70px;
                    align-items: flex-start;
                    align-items:center;
                    text-align: center;
                    display: inline-block;
                }
                a{
                    text-decoration: none;
                }
            </style>

</head>

<body>
    <section class="header">
        <div class="logo">
            <!-- <i class="ri-menu-line icon icon-0 menu"></i> -->
            <h1 style="font-size: 2rem;">E.A.T</h1>
        </div>
        
    </section>
    <section class="main">
        <div class="sidebar">
            <ul class="sidebar--items">
                <li>
                    <a href="/admin" >
                        <span class="icon icon-1"><i class="ri-layout-grid-line"></i></span>
                        <span class="sidebar--item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/active/employees" id="active--link">
                        <span class="icon icon-2"><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">Active Employee</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/deactive/employees">
                        <span class="icon icon-3"><i class="ri-user-2-line"></i></span>
                        <span class="sidebar--item" style="white-space: nowrap;">Deactive Employee</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/add">
                        <span class="icon icon-4" ><i class="ri-user-line"></i></span>
                        <span class="sidebar--item">Add New Employee</span>
                    </a>
                </li>

            </ul>
            <ul class="sidebar--bottom-items">
                <li>
                    <a href="/logout">
                        <span class="icon icon-8"><i class="ri-logout-box-r-line"></i></span>
                        <span class="sidebar--item">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main--content">
            <br>
            <h1>Employee Profile </h1>
            <hr>
            <br>
    
    
            <div class="row g-3 align-items-center">
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="emailid" class="col-form-label">Email</label>
                </div>
                <div class="col-5">
                    <input type="email" value="<%=employee.email%>" readonly id="emailid" class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="name" class="col-form-label">Name</label>
                </div>
                <div class="col-5">
                    <input type="text" id="name" value="<%=employee.name%>" readonly class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="contact" class="col-form-label">Contact No.</label>
                </div>
                <div class="col-5">
                    <input type="number" value="<%=employee.contactNumber%>" readonly id="contact" class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="joiningdate" class="col-form-label">Joining Date</label>
                </div>
                <div class="col-5">
                    <input type="text" value="<%=employee.joiningDate.toDateString()%>" readonly id="joiningdate" class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="department" class="col-form-label">Department</label>
                </div>
                <div class="col-5">
                    <input type="text" id="department" value="<%=employee.department%>" readonly class="form-control">
                </div>
                <div class="col-4"></div>
                <div class="col-2"></div>
                <div class="col-1">
                    <label for="password" class="col-form-label">Password</label>
                </div>
                <div class="col-5">
                    <input type="text" id="password" value="<%=employee.password%>" readonly class="form-control">
                </div>
                <div class="col-6"></div>
                <div class="col-6"></div>
                <div class="col-2"></div>
    
                <!-- <button class="btn my-4 col-6" id="menu-btn" type="submit">Edit Profile</button>                      -->

<hr>
                
        
                
        <!--Current Day Pie Chart -->
        
        <div class ="chartBox1">
            <h1>Current Day Status</h1>
        <canvas id="myChart1" >
        </canvas>
        <!--Previous day Pie Chart -->
        </div>
        
        
        <div class ="chartBox2">
        <h1>Previous Day Status</h1>
        <canvas id="myChart2" >
        </canvas>
        </div>
        <hr>
        
        <div class ="chartBox">
        <h1>Week Chart</h1>
        <canvas id="myChart" >
        </canvas>
        </div>
        
        <form action="/admin/employee/<%=employee._id%>" method="post">
            <div class="date">
                <label for="dat">Select Date : </label>
                <input type="date" id="dat" name="date">
                <button type="submit" >Show</button>
                <br>
						
						<!-- <input type="text" name="name" class="form-control">
						<button type="submit">Find</button> -->
						
                <% if(searchDate != null) { %>
                    <p style="padding: 1rem;font-weight: bold;"> <%=searchDate.toDateString()%> </p>
                <% } %>
            </div>

        </form>
        <div class ="chartBox3">
            <h1>Search by Date</h1>
            <canvas id="myChart3" >
            </canvas>
            </div>
        <hr>
        
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        
        <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Meeting', 'Work', 'Break'],
                datasets: [{
                    label: 'Current Day',
                    data: [parseInt("<%=currentDayAnalysis.meetPercentage%>"), parseInt("<%=currentDayAnalysis.workPercentage%>"), parseInt("<%=currentDayAnalysis.breakPercentage%>")],
                    backgroundColor: [
                        'rgba(255, 190, 11,1)',
                        'rgba(112, 224, 0, 1)',
                        'rgba(193, 18, 31, 1)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                     ],
                    borderWidth: 1
                }
            ]
            },
            options: {}
        });
        
        
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Meeting', 'Work', 'Break'],
                datasets: [{
                    label: 'Current Day',
                    data: [parseInt("<%=prevDayAnalysis.meetPercentage%>"), parseInt("<%=prevDayAnalysis.workPercentage%>"), parseInt("<%=prevDayAnalysis.breakPercentage%>")],
                    backgroundColor: [
                        'rgba(255, 190, 11,1)',
                        'rgba(112, 224, 0, 1)',
                        'rgba(193, 18, 31, 1)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                     ],
                    borderWidth: 1
                }
            ]
            },
            options: {}
        });

        var ctx = document.getElementById('myChart3').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Meeting', 'Work', 'Break'],
                datasets: [{
                    label: 'Current Day',
                    data : [parseInt("<%=searchByDateAnalysis==null ? 0 : searchByDateAnalysis.meetPercentage%>"), parseInt("<%=searchByDateAnalysis==null ? 0 : searchByDateAnalysis.workPercentage%>"), parseInt("<%=searchByDateAnalysis==null ? 0 : searchByDateAnalysis.breakPercentage%>")],
                    backgroundColor: [
                        'rgba(255, 190, 11,1)',
                        'rgba(112, 224, 0, 1)',
                        'rgba(193, 18, 31, 1)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }
            ]
            },
            options: {}
        });
        
        </script>
        
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            const dateLabel = (date) => {
                date = new Date(date)
                return [date.getDate(), date.getMonth()+1, date.getFullYear()].join('/')
            }
            var currDate = new Date()

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [dateLabel(currDate), dateLabel(currDate.setDate(currDate.getDate() - 1)), dateLabel(currDate.setDate(currDate.getDate() - 1)), 
            dateLabel(currDate.setDate(currDate.getDate() - 1)), dateLabel(currDate.setDate(currDate.getDate() - 1)),
            dateLabel(currDate.setDate(currDate.getDate() - 1)), dateLabel(currDate.setDate(currDate.getDate() - 1))],
                    datasets: [{
                        label: 'Working',
                        data: [parseInt("<%=last7Days[0].workPercentage%>"), parseInt("<%=last7Days[1].workPercentage%>") ,
                        parseInt("<%=last7Days[2].workPercentage%>"), parseInt("<%=last7Days[3].workPercentage%>"), 
                        parseInt("<%=last7Days[4].workPercentage%>"), parseInt("<%=last7Days[5].workPercentage%>"), 
                        parseInt("<%=last7Days[6].workPercentage%>") ],
                        backgroundColor:'rgba(112, 224, 0, 1)',
                       
                        borderColor:'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },{
                        label: 'Break',
                        data:[parseInt("<%=last7Days[0].breakPercentage%>"), parseInt("<%=last7Days[1].breakPercentage%>") ,
                        parseInt("<%=last7Days[2].breakPercentage%>"), parseInt("<%=last7Days[3].breakPercentage%>"), 
                        parseInt("<%=last7Days[4].breakPercentage%>"), parseInt("<%=last7Days[5].breakPercentage%>"), 
                        parseInt("<%=last7Days[6].breakPercentage%>") ],          
                        backgroundColor:'rgba(193, 18, 31, 1)',
                        borderColor:'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                },
                {
                        label: 'Meeting',
                        data: [parseInt("<%=last7Days[0].meetPercentage%>"), parseInt("<%=last7Days[1].meetPercentage%>") ,
                        parseInt("<%=last7Days[2].meetPercentage%>"), parseInt("<%=last7Days[3].meetPercentage%>"), 
                        parseInt("<%=last7Days[4].meetPercentage%>"), parseInt("<%=last7Days[5].meetPercentage%>"), 
                        parseInt("<%=last7Days[6].meetPercentage%>") ],
                        backgroundColor:'rgba(255, 190, 11,1)',
                        borderColor:'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                }]
                },
                options: {
                    scales: {
                        x :{
                            stacked : true
                        },
                        y: {
                            stacked : true,
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
        







    
            </div>
    
    </section>








    <script src="assets/js/main.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
    integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>